.transportContainer {
  width: 640px;
  height: 56px;
  padding-top: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 2px solid;
}
.controlContainer {
  display: inline-block;
}

button {
  margin: 6px 0 0;
  width: 24px;
  padding: inherit 0;
  background-color: rgba(0,0,0,0) !important;
}

.led {
  display: inline-block;
  height: 14px;
  width: 14px;
  margin-left: 5px;
  border-radius: 50%;
  margin-bottom: 4px;
}
.led-on {
  background-image: radial-gradient(circle, #a0f725 30%, #2a9b3f 100%);
}
.led-off {
  background-image: radial-gradient(circle, #838383 30%, #737473 100%);;
}

.hasSlider {
  display: inline-block;
  height: 25px;
  vertical-align: middle;
}
.radioPlayMode {
  display: flex;
  flex-direction: column;
  margin-top: -6px;
}
.radioButton {
  height: 24px;
}

