          <div class="controlBar">
            <mat-form-field floatLabel="always" class="selAlphabet">
              <mat-label>Choose the Alphabet...</mat-label>
              <mat-select #selAlphabet panelClass="'panel'" [(value)]="data.characterMode" (selectionChange)="data.updateAlphabet($event.value)">
                @for (alpha of data.alphaOptions; track $index; let idx = $index) {
                  <mat-option [value]="alpha">{{alpha.display}}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <button mat-raised-button class="generateText" matTooltip="Generate Random Characters..." (click)="generateSampleText()">
              Generate
            </button>

            <app-transport2 [(playMode)]="playMode" [currentCodeIndex]="currentCodeIndex" [inputs]="inputs"></app-transport2>
          </div>

          <div class="actionContent">
            <div class="sampleTextContainer">
              @for (bCnt of data.blockCountIndex; track bCnt) {
                <div class="sampleCodeBlock">
                  @for (dCnt of [0, 1, 2, 3, 4]; track dCnt) {
                    <div class="testCodeBlock">
                      <div class="sampleCodeChar">
                        <div class="sampleTextLetter" [class.sampleCodeCharHidden]="data.testInputVisibilityArray[dCnt + (bCnt * 5)]">
                          {{data.sampleTextArray[dCnt + (bCnt * 5) + bCnt]}}
                        </div>
                      </div>
                      <div class="testCodeChar">
                          <input #input id="input{{dCnt + (bCnt * 5) + bCnt}}" 
                                (keyup.tab)="showTestChar(dCnt + (bCnt * 5) - 1)"
                                (keyup.enter)="focusInput(dCnt + (bCnt * 5))">
                      </div>
                    </div>
                  }
                  @if (bCnt < data.blockCountIndex.length - 1) {
                    <div class="sampleCodeChar" class="sampleCodeBlockSeparator"></div>
                  }
                </div>
              }
            </div>
          </div>
