@use '@angular/material' as mat;
@use 'material-icons/iconfont/filled.css';
@use './app/theme-switcher/custom-themes.scss';

//-- global stuff...

* {
  margin: 0;
  padding: 0;
}

body {
	margin: 0 !important;
  padding: 0 !important;
	// background: linear-gradient(to bottom right, #ddc 0%, #886 100%);
	height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: var(--mat-sys-surface-container);
  color: var(--mat-sys-secondary);
  font-family: 'AlegreyaSans';
}

* {
	box-sizing: border-box;
}

button {
  font-size: 18px !important;
}

input {
  padding: 0 5px !important;
}
.disabledText {
	opacity: 0.7 !important;
}
.disabledBlock {
  background-color:  var(--mat-sys-outline);
}
.upperCase {
	text-transform: uppercase;
}
.centered {
  text-align: center !important;
}

.underConstruction {
	text-align: center;
}
.underConstruction {
	// background-color: var(--mat-sys-surface-container);
  width: 70vw;
  margin-left: 15vw;
}
.underConstruction h1 {
	margin: 10px 0;
  text-align: center;
}
.underConstruction img {
  width: 60vw;
}

.hide {
  display: none !important;
}

.blur {
	filter: blur(4px);
	color: transparent;
	text-shadow: 0 0 8px #000;
  pointer-events: none;
}
.displayDisabled {
  pointer-events: none;
  background-color:  var(--mat-sys-surface-variant);
  // background-color:  var(--mat-sys-outline-variant);
  opacity: .8;
}

.errorTxt {
  color: var(--mat-sys-error) !important;
}

.selectedRow {
  color: var(--mat-sys-error) !important;
  font-weight: bold !important;
}

.wrapper {
  height: 100vh;
  width: 100vw;
}

div {
  border-color: var(--mat-sys-primary) !important;
}
.hideForPrinting {
  height: 0 !important;
  opacity: 0 !important;
}

//-- material component overrides - this will be app-specific...
//
* {
  @include mat.tabs-overrides((
    active-indicator-color: var(--mat-sys-primary),
    active-indicator-height: 5px,
    divider-color: var(--mat-sys-outline),
    divider-height: 3px,
    inactive-label-text-color: var(--mat-sys-outline),
    active-label-text-color: var(--mat-sys-primary),
    inactive-focus-label-text-color: var(--mat-sys-primary),
    inactive-hover-label-text-color: var(--mat-sys-primary),
    // active-hover-label-text-color: var(--mat-sys-error),
    active-focus-indicator-color: var(--mat-sys-primary),
    // active-hover-indicator-color: var(--mat-sys-error),
  ));
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary),
    container-text-color: var(--mat-sys-on-primary),
    title-text-size: xx-large
  ));
  @include mat.select-overrides((
    // panel-background-color: light-dark(var(--mat-sys-primary), var(--mat-sys-on-background))
    panel-background-color: var(--mat-sys-surface-container),
  ));
  @include mat.slider-overrides((
    active-track-height: 8px,
    inactive-track-height: 8px,
    inactive-track-color: rgb(98, 98, 100) !important
  ));
}

//-- material component fixes
//
mat-label {
  font-weight: bold;
  font-size: 12px;
  color: var(--mat-sys-primary);
}

mat-slider {
  min-width: 80px !important;
}
.mat-mdc-select-panel {
  max-height: 400px !important;
}

button {
  color: var(--mat-sys-on-primary-container) !important;
  background-color: var(--mat-sys-surface-variant) !important;
}

.mdc-icon-button {
  height: 24px !important;
  width: 24px !important;
  margin-top: 10px !important;
  padding: 0 !important;
}
